{% extends "blog/base.html" %}
{% load static %}

{% block title %}All Blog Posts - TechReads{% endblock %}

{% block content %}
<div class="container page-content">
    <h2 class="page-title">All Blog Posts</h2>
    <div class="post-list-container">
        {% if posts %}
            {% for post in posts %}
            <article class="post-list-item">
                {% if post.title_image %}
                <div class="post-list-item-image">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{{ post.title_image.url }}" alt="{{ post.title }}">
                    </a>
                </div>
                {% endif %}
                <div class="post-list-item-content">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <p class="date">
                        Published on {{ post.publish|date:"F j, Y" }} by {{ post.author.first_name|default:post.author.username }}
                    </p>
                    <p>{{ post.body|striptags|truncatewords:35 }}</p> <a href="{{ post.get_absolute_url }}" class="read-more">Continue reading &raquo;</a>
                </div>
            </article>
            {% endfor %}
        {% else %}
            <p>No posts have been published yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
